/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;

            quick-tap-ms = <180>;
            global-quick-tap;
        };

        ltq: ltq {
            compatible = "zmk,behavior-hold-tap";
            label = "LTQ";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <600>;
            global-quick-tap;
            quick-tap-ms = <400>;
        };

        td_arrow_fn: td_arrow_fn {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_ARROW_FN";
            #binding-cells = <0>;
            tapping-term-ms = <350>;
            bindings = <&kp GREATER_THAN>, <&arrow_fn>;
        };

        td_left: td_left {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_LEFT";
            #binding-cells = <0>;
            tapping-term-ms = <350>;
            bindings = <&kp LEFT>, <&kp LA(LEFT)>, <&kp LG(LEFT)>;
        };

        td_right: td_right {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_RIGHT";
            #binding-cells = <0>;
            tapping-term-ms = <350>;
            bindings = <&kp RIGHT>, <&kp LA(RIGHT)>, <&kp LG(RIGHT)>;
        };

        td_up: td_up {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_UP";
            #binding-cells = <0>;
            tapping-term-ms = <350>;
            bindings = <&kp UP_ARROW>, <&kp LA(UP_ARROW)>, <&kp LG(UP_ARROW)>;
        };

        td_down: td_down {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_DOWN";
            #binding-cells = <0>;
            tapping-term-ms = <350>;
            bindings = <&kp DOWN>, <&kp LA(DOWN_ARROW)>, <&kp LG(DOWN)>;
        };

        td_f1: td_f1 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_F1";
            #binding-cells = <0>;
            tapping-term-ms = <350>;
            bindings = <&kp F1>, <&kp LA(F1)>, <&kp LG(F1)>;
        };

        td_f2: td_f2 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_F2";
            #binding-cells = <0>;
            tapping-term-ms = <350>;
            bindings = <&kp F2>, <&kp LA(F2)>, <&kp LG(F2)>;
        };

        td_f3: td_f3 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_F3";
            #binding-cells = <0>;
            tapping-term-ms = <350>;
            bindings = <&kp F3>, <&kp LA(F3)>, <&kp LG(F3)>;
        };

        td_f4: td_f4 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_F4";
            #binding-cells = <0>;
            tapping-term-ms = <350>;
            bindings = <&kp F4>, <&kp LA(F4)>, <&kp LG(F4)>;
        };

        td_f5: td_f5 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_F5";
            #binding-cells = <0>;
            tapping-term-ms = <350>;
            bindings = <&kp F5>, <&kp LA(F5)>, <&kp LG(F5)>;
        };

        td_f6: td_f6 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_F6";
            #binding-cells = <0>;
            tapping-term-ms = <350>;
            bindings = <&kp F6>, <&kp LA(F6)>, <&kp LG(F6)>;
        };

        td_f7: td_f7 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_F7";
            #binding-cells = <0>;
            tapping-term-ms = <350>;
            bindings = <&kp F7>, <&kp LA(F7)>, <&kp LG(F7)>;
        };

        td_f8: td_f8 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_F8";
            #binding-cells = <0>;
            tapping-term-ms = <350>;
            bindings = <&kp F8>, <&kp LA(F8)>, <&kp LG(F8)>;
        };
    };

    combos {
        compatible = "zmk,combos";

        left_par {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <4 3>;
            timeout-ms = <50>;
        };

        right_par {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <7 8>;
            timeout-ms = <50>;
        };

        left_brace {
            bindings = <&kp LEFT_BRACE>;
            key-positions = <15 16>;
            timeout-ms = <50>;
        };

        right_brace {
            bindings = <&kp RIGHT_BRACE>;
            key-positions = <19 20>;
            timeout-ms = <50>;
        };

        left_bkt {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <27 28>;
            timeout-ms = <50>;
        };

        right_bkt {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <32 31>;
            timeout-ms = <50>;
        };

        backslash {
            bindings = <&kp BACKSLASH>;
            key-positions = <5 6>;
        };

        pipe {
            bindings = <&kp PIPE>;
            key-positions = <17 18>;
        };

        less_than {
            bindings = <&kp LESS_THAN>;
            key-positions = <13 14>;
        };

        greater_than {
            bindings = <&td_arrow_fn>;
            key-positions = <21 22>;
        };

        layer_4 {
            bindings = <&mo 4>;
            key-positions = <38 37>;
        };
    };

    macros {
        arrow_fn: arrow_fn {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp EQUAL &kp GT>;
            label = "ARROW_FN";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESCAPE  &kp Q           &kp W           &kp E           &kp R             &kp T        &kp Y        &kp U         &kp I          &kp O            &kp P               &kp BSPC
&kp GRAVE   &hm LEFT_GUI A  &hm LEFT_ALT S  &hm LCTRL D     &hm LEFT_SHIFT F  &kp G        &kp H        &hm RSHIFT J  &hm RCTRL K    &hm RIGHT_ALT L  &hm RGUI SEMICOLON  &kp SQT
&kp EQUAL   &kp Z           &kp X           &kp C           &kp V             &kp B        &kp N        &kp M         &kp COMMA      &kp DOT          &kp FSLH            &kp BACKSLASH
                                            &kp LEFT_SHIFT  &lt 3 TAB         &lt 2 SPACE  &lt 1 ENTER  &mo 3         &kp BACKSPACE
            >;
        };

        num_layer {
            bindings = <
&trans  &kp N7        &kp N8  &kp N9  &kp N0     &trans  &trans  &kp N7  &kp N8  &kp N9  &kp N0     &trans
&trans  &kp N4        &kp N5  &kp N6  &kp MINUS  &trans  &trans  &kp N4  &kp N5  &kp N6  &kp MINUS  &trans
&trans  &kp NUMBER_1  &kp N2  &kp N3  &kp EQUAL  &trans  &trans  &kp N1  &kp N2  &kp N3  &kp EQUAL  &trans
                              &trans  &trans     &trans  &trans  &trans  &trans
            >;
        };

        nav_layer {
            bindings = <
&trans  &td_f1  &td_f2  &td_f3  &td_f4  &kp F9  &trans  &kp LA(LEFT)  &kp LA(DOWN_ARROW)  &kp LA(UP_ARROW)  &kp LA(RIGHT)  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp LEFT      &kp DOWN            &kp UP_ARROW      &kp RIGHT      &trans
&trans  &td_f5  &td_f6  &td_f7  &td_f8  &trans  &trans  &kp LG(LEFT)  &kp LG(DOWN)        &kp LG(UP_ARROW)  &kp LG(RIGHT)  &trans
                        &trans  &trans  &trans  &trans  &trans        &trans
            >;
        };

        sym_layer {
            bindings = <
&trans  &kp PLUS   &kp ASTRK      &kp MINUS  &kp EQUAL      &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp AMPS   &kp DOLLAR  &kp PERCENT   &kp HASH   &trans
&trans  &kp CARET  &kp TILDE      &kp GRAVE  &kp LA(APOS)   &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp EXCL   &kp AT      &kp QUESTION  &kp UNDER  &trans
&trans  &trans     &kp LESS_THAN  &kp PIPE   &kp BACKSLASH  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp SLASH  &kp PIPE    &td_arrow_fn  &trans     &trans
                                  &trans     &trans         &trans                &trans                 &trans     &trans
            >;
        };

        utils_layer {
            bindings = <
&trans  &trans   &trans   &trans   &trans   &trans  &trans  &trans                    &trans          &trans      &trans  &trans
&trans  &trans   &trans   &trans   &trans   &trans  &trans  &kp LS(LG(LC(NUMBER_4)))  &kp LG(LS(N5))  &trans      &trans  &trans
&trans  &kp F13  &kp F10  &kp F11  &kp F12  &trans  &trans  &kp C_PLAY_PAUSE          &kp C_PREV      &kp C_NEXT  &trans  &trans
                          &trans   &trans   &trans  &trans  &trans                    &trans
            >;
        };
    };
};
